absl-py==1.0.0
alembic==1.7.7
attrs==21.4.0
autopage==0.5.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
cliff==3.10.1
cmaes==0.8.2
cmd2==2.4.1
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
colorlog==6.6.0
filelock==3.6.0
google-auth==2.6.5
google-auth-oauthlib==0.4.6
grpcio==1.44.0
huggingface-hub==0.4.0
idna==3.3
importlib-metadata==4.11.3
jieba==0.42.1
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
Mako==1.2.0
Markdown==3.3.6
MarkupSafe==2.1.1
nltk @ file:///opt/conda/conda-bld/nltk_1645628263994/work
numpy==1.22.3
oauthlib==3.2.0
optuna==2.10.0
packaging==21.3
pbr==5.8.1
Pillow==9.1.0
prettytable==3.2.0
protobuf==3.20.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.7
pyperclip==1.8.2
PyYAML==6.0
regex @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-1bt6djqe/regex_1648480607472/work
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
sacremoses==0.0.49
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
SQLAlchemy==1.4.35
stevedore==3.5.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
tokenizers==0.11.6
torch==1.11.0
torchvision==0.12.0
tqdm==4.63.1
transformers==4.17.0
typing_extensions==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
Werkzeug==2.1.1
zipp==3.8.0
